.App {
  font-family: "Bubblegum Sans", cursive;
}
.blue {
  color: blue;
}
.red {
  color: red;
}
.pink {
  color: pink;
}
.green {
  color: lightgreen;
}
.yellow {
  color: yellow;
}
.bg-purple {
  background-color: purple;
}
