.App {
  font-family: "Bubblegum Sans", cursive;
}
h1 {
  font-size: 7rem;
}
.txtSize-2 {
  font-size: 2rem;
}
.txtSize-3 {
  font-size: 3rem;
}
.txtSize-4 {
  font-size: 4rem;
}
.blue {
  color: blue;
}
.red {
  color: red;
}
.pink {
  color: pink;
}
.green {
  color: lightgreen;
}
.yellow {
  color: yellow;
}
.bg-purple {
  background-color: purple;
}
